@charset "UTF-8";

body {
    margin: 0;
    width: 100%;

}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    padding: 0;
    background-color: #556B2F;
}

header h1 {
    margin: 0;
    color: #fff;
    font-size: 50px;
    font-family: "RocknRoll", system-ui;
    padding-left: 50px;
}

header a {
    text-decoration: none;
    color: #fff;
}



.subtitle {
    font-size: 20px;
    color: #fff;
    font-family: "RocknRoll", system-ui;
    align-self: flex-end;
    margin-right: 50px;
}

.img-container {
    background-color: #faf3e0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    padding: 50px 50px;
}

.img-container img {
    width: 100%;
    height: 150px;
}

.imglink {
    position: relative;
    display: block;
}


nav span {
    position: absolute;
    top: 80%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: #fff;
    font-family: "Shippori", system-ui;
    padding-left: 10px;
    font-weight: bold;
    pointer-events: none;

}


main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    background-color: #faf3e0;
    margin: 0;
}

main h2 {
    font-family: " Shippori", system-ui;
    margin-top: 0;
    padding: 0;
    margin-left: 50px;
}

aside {
    background-color: #6b4f3b;
    margin: 50px;
    padding: 1rem;
    color: #fff;
}

footer {
    background-color: #556B2F;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
}


footer nav {
    display: flex;
    gap: 1rem;
}

footer a {
    margin: 0 50px;
    font-family: "RocknRoll", system-ui;
    color: #fff;
}

footer p {
    font-family: "RocknRoll", system-ui;
    align-content: flex-end;
    margin: 0 50px;
    color: #fff;

}
